.pagination {
	display: flex;
	width: 100%;
	gap: 0.75rem;
	align-items: center;
	justify-content: center;
}

.pageNumber {
	padding: 0.5rem;
	border: none;
	background-color: white;
	cursor: pointer;
}

.list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.arrow {
	border: none;
	background-color: white;
	cursor: pointer;
}

.pageNumber:disabled {
	cursor: default;
}

.arrow:disabled {
	cursor: default;
}
